{% if products|length > 0 %}
<div class="list-products">
    <div class="catalog-products">
       <!--  <div class="title-section center">
            <span class="string uppercase">{{ showcaseTitle }}</span>
        </div> -->

        {% if sType == 'relamp' %}


            {% for key,product in products %} {% set ranking = product.ranking %}
                {% if key == 0 %}

                    <div class="principal special">
                        <div class="col-md-12">
                            <div class="row first">
                                <div class="col-md-6">
                                    {% if product.images %}
                                        <a class="box-image" href="{{ product.link }}">
                                            <img src="{{ product.images[0].large }}" data-src="{{ product.images[0].large }}" class="{{ slide ? 'owl-lazy' : 'lazyload t-opacity' }}" alt="{{ product.name }}" title="{{ product.name }}">
                                            <div class="load-css">
                                                <div class="icon"></div>
                                            </div>
                                        </a>
                                    {% else %}
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="percentage">
                                            <div class="percent">-50%</div>
                                        </div>
                                        <div class="allprice">
                                            <div class="price">R$ {{ product.price_offer }}</div>
                                            <div class="oldprice">R$ {{ product.price }}</div>
                                        </div>
                                        <div class="starrating">
                                            {% element 'snippets/star_ranking' {"ranking": product.ranking } %}
                                        </div>
                                        <div class="title">
                                            {{ product.name }}
                                        </div>
                                        <div class="buy">
                                            <div class="action-product flex justify-center">
                                                <!-- { % if product.stock > 0 or settings.without_stock_sale %} 
                                                    <a href="{{ product.link }}" class="action-button view transition">
                                                        <span class="icon icon-zoom"></span>
                                                        <span class="text uppercase">Espiar</span>
                                                    </a>
                                                { % else %}
                                                    <a href="{{ product.link }}" class="action-button transition esgotado">
                                                        <svg viewBox="0 0 512 512" width="17" heigth="17"><path d="M256,0C114.497,0,0,114.507,0,256c0,141.503,114.507,256,256,256c141.503,0,256-114.507,256-256    C512,114.497,397.493,0,256,0z M256,472c-119.393,0-216-96.615-216-216c0-119.393,96.615-216,216-216    c119.393,0,216,96.615,216,216C472,375.393,375.385,472,256,472z"></path><path d="M256,128.877c-11.046,0-20,8.954-20,20V277.67c0,11.046,8.954,20,20,20s20-8.954,20-20V148.877    C276,137.831,267.046,128.877,256,128.877z"></path><circle cx="256" cy="349.16" r="27"></circle></svg>
                                                        <span class="text uppercase">Esgotado</span>
                                                    </a>
                                                { % endif %}
                                                { % if settings.buy_to_cart and (product.available and product.stock > 0 or settings.without_stock_sale) %} -->
                                                <a href="{{ links.cart_add ~ product.id }}" class="action-button add transition">
                                                    <span class="text uppercase">Comprar</span>
                                                </a>
                                               <!--  { % endif %}   -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row line">
                                <div class="col-md-5 text-oferta">
                                    <p>Se apresse!</p>
                                    <span>A oferta acaba em:</span>
                                </div>
                                <div class="col-md-7 circles">
                                    <div class="dias time">
                                        <span class="dia">2</span>
                                        dias
                                    </div>
                                    <div class="horas time">
                                        <span class="hora">14</span>
                                        Hrs
                                    </div>
                                    <div class="minutos time ">
                                        <span class="minuto">30</span>
                                        Min
                                    </div>
                                    <div class="segundos time">
                                        <span class="segundo">25</span>
                                        Sec
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                       contagem_regressiva( {{roduct.end_promotion}} );
                    </script>


                {% endif %}
            {% endfor %}

            <div class="relamp owl-carousel owl-loaded">

                {% for key,product in products %} {% set ranking = product.ranking %}
                    {% if key == 0 %}                       

                    {% else %}
                        <div class="item flex">
                            {% element 'snippets/product' {
                                "product": product,
                                "slide" : slide
                            } %}
                        </div>
                    {% endif %}
                {% endfor %}

            </div>

        {% else %}

            <div class="list {{ slide ? 'owl-carousel' : 'flex f-wrap' }}">
                {% for product in products %} {% set ranking = product.ranking %}
                <div class="item flex">
                    {% element 'snippets/product' {
                        "product": product,
                        "slide" : slide
                    } %}
                </div>
                {% endfor %}
            </div>

        {% endif %}
    </div>
</div>
{% endif %}