{% if settings.limitProductsNew == '4' %}
    {% set limitProductsNew = 4 %}
{% endif %}
{% if settings.limitProductsNew == '8' %}
    {% set limitProductsNew = 8 %}
{% endif %}
{% if settings.limitProductsNew == '12' %}
    {% set limitProductsNew = 12 %}
{% endif %}
{% if settings.limitProductsNew == '16' %}
    {% set limitProductsNew = 16 %}
{% endif %}

{% set productFeatured = Products({
    'filter': ['featured', 'available'],
    'limit': limitProductsNew,
    'order': 'rand',
    })
%}

{% if settings.limitProductsFeatured == '4' %}
    {% set limitProductsFeatured = 4 %}
{% endif %}
{% if settings.limitProductsFeatured == '8' %}
    {% set limitProductsFeatured = 8 %}
{% endif %}
{% if settings.limitProductsFeatured == '12' %}
    {% set limitProductsFeatured = 12 %}
{% endif %}
{% if settings.limitProductsFeatured == '16' %}
    {% set limitProductsFeatured = 16 %}
{% endif %}

{% set productNew = Products({
    'filter': ['new', 'available'],
    'limit': limitProductsFeatured,
    'order': 'rand',
    })
%}



{% set productPromo = Products({
    'filter': ['new'],
    'limit': limitProductsFeatured,
    'order': 'rand',
    })
%}

<div class="content-home">   

    {% element('snippets/ofertas-relampago') %}



    <!-- {% for product in productPromo %}
      {{ product.name }}
    {% endfor %} -->


    <div class="bannergrand">
        
        {% if banner.extra5 %}
          {{ banner.extra5 }}
        {% endif %}
        
    </div>

   {% element 'showcase' { 
        "products": productNew,
        "slide" : settings.product_carousel,        
        "showcaseTitle": "Recomendados para você" 
    } %}

    <div class="container-fluid">
        <div class="row">
            <div class="bannergrand col-md-6">
                
                {% if banner.extra6 %}
                  {{ banner.extra6 }}
                {% endif %}
                
            </div> 

            <div class="bannergrand col-md-6">
                
                {% if banner.extra7 %}
                  {{ banner.extra7 }}
                {% endif %}
                
            </div> 
        </div>
    </div>

    {% element 'showcase' { 
        "products": productNew,
        "slide" : settings.product_carousel,        
        "showcaseTitle": "Recomendados para você" 
    } %}
    
    {% element 'showcase' { 
        "products": productNew,
        "slide" : settings.product_carousel,        
        "showcaseTitle": "Recomendados para você" 
    } %}

    <div class="container-fluid">
        <div class="row">
            <div class="banners">           
                <div class="banner-grand">
                    
                    {% if banner.extra8 %}
                      {{ banner.extra8 }}
                    {% endif %}
                    
                </div>           
                <div class="banner-lateral">                   

                    <div class="banners-lateral">
                        
                        {% if banner.extra9 %}
                          {{ banner.extra9 }}
                        {% endif %}
                        
                    </div> 

                    <div class="banners-lateral">
                        
                        {% if banner.extra10 %}
                          {{ banner.extra10 }}
                        {% endif %}
                        
                    </div> 
                </div>
            </div>            
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <h2 class="title">Nossos Parceiros</h2>
            <div class="carrocel-parceiros owl-carousel owl-theme">
                <div class="item">
                    {% if banner.extra11 %}
                        {{ banner.extra11 }}
                    {% endif %}
                    <h4>Makita</h4>
                </div>
                <div class="item">
                    {% if banner.extra11 %}
                        {{ banner.extra11 }}
                    {% endif %}
                    <h4>Makita</h4>
                </div>
                <div class="item">
                    {% if banner.extra11 %}
                        {{ banner.extra11 }}
                    {% endif %}
                    <h4>Makita</h4>
                </div>
                <div class="item">
                    {% if banner.extra11 %}
                        {{ banner.extra11 }}
                    {% endif %}
                    <h4>Makita</h4>
                </div>
                <div class="item">
                    {% if banner.extra11 %}
                        {{ banner.extra11 }}
                    {% endif %}
                    <h4>Makita</h4>
                </div>
                <div class="item">
                    {% if banner.extra11 %}
                        {{ banner.extra11 }}
                    {% endif %}
                    <h4>Makita</h4>
                </div>
                <div class="item">
                    {% if banner.extra11 %}
                        {{ banner.extra11 }}
                    {% endif %}
                    <h4>Makita</h4>
                </div>        
            </div>
        </div>
    </div>

    

    {% if settings.exibir_depoimentos %} 
    <div class="person-shop ">
        <div class="title-section center">
            <span class="string uppercase">Depoimentos de quem comprou</span>
        </div>
        <div class="box-person">
            {% element 'CustomerReview.reviews' %}
        </div>
    </div>
    {% endif %}

</div>